{% extends 'base.html' %}

{% block title %}
    登陆
{% endblock %}

{% block main %}
    <div class="m-auto" style="max-width: 330px;">
        <h1>登陆</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="my-2">
                <label>邮箱</label>
                <input type="email" name="email" class="form-control" placeholder="邮箱">
            </div>
            <div class="my-2">
                <label>密码</label>
                <input type="password" name="password" class="form-control" placeholder="密码">
            </div>
            <div class="form-check my-2">
                <input type="checkbox" class="form-check-input" name="remember" value="1" id="flexCheckDefault">
                <label for="flexCheckDefault" class="form-check-label">记住我</label>
            </div>
            <button type="submit" class="btn btn-primary w-100">登陆</button>
        </form>
    </div>
{% endblock %}
