{% extends 'base.html' %}

{% block main %}
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'images/logo.png' %}" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold text-body-emphasis">GrantItems 格物</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">格物：个人物品管理系统助你轻松分类、追踪和管理所有物品。</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'grant_auth:login' %}">登陆</a>
                <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="{% url 'grant_auth:register' %}">注册</a>
            </div>
        </div>
    </div>
{% endblock %}
