{% extends 'base.html' %}
{% load date_diff %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/login_index.js' %}"></script>
    <script>
        window.categoryCounts = {{ category_counts|safe }};
        window.statusCounts = {{ status_counts|safe }};
    </script>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <canvas id="categoryChart" class="w-100" style="height: 400px;"></canvas>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <canvas id="categoryPieChart" class="w-100" style="height: 400px;"></canvas>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 d-flex align-items-center">
                    <canvas id="statusChart" class="w-100" style="height: 400px;"></canvas>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <canvas id="statusPieChart" class="w-100" style="height: 400px;"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container mt-4">
                <h2>已过期</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">名称</th>
                            <th scope="col">状态</th>
                            <th scope="col">时间</th>
                            <th scope="col">过期信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in expired_items %}
                        <tr>
                            <td><a href="{% url 'items:show_detail' item_id=item.id %}" style="text-decoration: none">{{ item.name }}</td>
                            <td>{{ item.status.name }}</td>
                            <td>{{ item.overdue|date:"Y-m-d" }}</td>
                            <td>已过{{ today|date_diff:item.overdue }}天</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="container mt-4">
                <h2>即将过期</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">名称</th>
                            <th scope="col">状态</th>
                            <th scope="col">时间</th>
                            <th scope="col">过期信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in expiring_soon_items %}
                        <tr>
                            <td><a href="{% url 'items:show_detail' item_id=item.id %}" style="text-decoration: none">{{ item.name }}</td>
                            <td>{{ item.status.name }}</td>
                            <td>{{ item.overdue|date:"Y-m-d" }}</td>
                            <td>还剩{{ item.overdue|date_diff:today }}天</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="container mt-4">
                <h2>预购</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">名称</th>
                        <th scope="col">价格</th>
                        <th scope="col">种类</th>
                        <th scope="col">状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in pre_purchase_items %}
                        <tr>
                            <td><a href="{% url 'items:show_detail' item_id=item.id %}" style="text-decoration: none">{{ item.name }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.type.name }}</td>
                            <td>{{ item.status.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}